#sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidenav a:hover {
    color: #f1f1f1;
}

#sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
}

#menu-button {
    position: fixed;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    font-size: 30px;
    /* Размер кнопки меню */
}

#heading-text {
    margin-top: 20px;
    margin-left: 10%;
    /* Отступ сверху для заголовка */
}

#text {
    margin-left: 10%;
    /* Отступ слева для текста */
    margin-right: 10%;
    /* Отступ справа для текста */
}

.p-list--divided {
    padding-left: 20px;
    /* Отступ слева для списка */
}

.big-text {
    font-size: 25px;
    /* Размер шрифта для большого текста */
    color: white;
    /* Цвет текста */
    background-color: gray;
    /* Цвет фона */
}

.main-text {
    font-size: 20px;
    /* Размер шрифта для основного текста */
}